h1 {
	font-family: "Lucida Console", Lucida, monospace;
	text-align: center;
	Color: red;
}
body {
	text-align: justify;
	color: ff7c00;
	font-family: "Lucida Console", Lucida, monospace;
	
}
image {
	align: center;
}